{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title -->
  <title>Portal Magnus</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/core-img/favicon.png' %}">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <style>
    #bg-imagen1{
      background-image: url("{% static 'img/bg-img/16.jpg' %}");
    }
    .section-padding-100-100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  a.nav-brand img{
    height: 80px;
  }
  div#accordionExample{
    margin-left: auto;
    margin-right: auto;
  }
  button.btn.btn-link.decotext {
    text-decoration: none;
  }
  @media only screen and (max-width: 991px){

    a.nav-brand img{
    height: 60px;
  }

  }

  </style>


</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="loader"></div>
  </div>
  <!-- /Preloader -->

  <!-- Header Area Start -->
  <header class="header-area">
    <!-- Search Form -->
    <div class="search-form d-flex align-items-center">
      <div class="container">
        <form action="index.html" method="get">
          <input type="search" name="search-form-input" id="searchFormInput" placeholder="Type your keyword ...">
          <button type="submit"><i class="icon_search"></i></button>
        </form>
      </div>
   </div>

  <!-- Top Header Area Start -->
    <div class="top-header-area">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="top-header-content">
              <a href="#"><i class="icon_phone"></i> <span>+56 9 59217038</span></a>
              <a href="#"><i class="icon_mail"></i> <span>makarena.munoz.g@gmail.com</span></a>
            </div>
          </div>
          <div class="col-6">
            <div class="top-header-content">
              <!-- Top Social Area -->
              <div class="top-social-area ml-auto">
                <a href="https://www.facebook.com/magnusgestioninmobiliaria/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> magnusgestioninmobiliaria</a>
                <!--<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="robertoNav">
          <!-- Logo -->
            <a class="nav-brand" href="#"><img src="{% static 'img/core-img/logohd.png' %}" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">
            <!-- Menu Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <!--<li class="active"><a href="./index.html">Home</a></li>-->
                  <li class="cn-dropdown-item has-down"><a href="#">Portal</a>
                    <ul class="dropdown">
                      <li><a href="https://docs.google.com/spreadsheets/d/1Q4bvu6IN7AP1t2vp4xf2wLULu3c0Ct88Q890ScM5fuc/edit?usp=sharing" target="_blank">Información Casas</a></li>
                      <li><a href="https://docs.google.com/spreadsheets/d/1oVpnxLDd95h5lPEMm0nNIama5JT6b41TZUCaXZfJ-1U/edit?usp=sharing" target="_blank">Ingreso Clientes</a></li>
                      <li><a href="https://trello.com/invite/b/dcr8HaGC/5382b1032428e464884c43bb2151ce93/soporte-gestion-magnus" target="_blank">Estado de clientes</a></li>

                      <li class="has-down"><a href="#">Herramientas PC</a>
                      <ul class="dropdown">
                        <li><a href="https://web.whatsapp.com/" target="_blank">Whatsapp</a></li>
                        <li><a href="https://www.google.com/search?q=calculadora&oq=cal&aqs=chrome.0.69i59l3j69i61j69i60j69i65.952j0j4&sourceid=chrome&ie=UTF-8" target="_blank">Caluladora</a></li>
                      </ul>
                      <span class="dd-trigger"></span></li>
                    </ul>
                    <span class="dd-trigger"></span>
                  </li>
                  <li><a class="nav-link js-scroll-trigger animated fadeInDown" href="#ventas">Ventas</a></li>
                  <li><a class="nav-link js-scroll-trigger animated fadeInDown" href="#arriendos">Arriendos</a></li>
                  <li><a class="nav-link js-scroll-trigger animated fadeInDown" href="#informaciones">Información Subsidios</a></li>

                  <li><a href=""><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                  <!--<li><a href="./contact.html">Contáctanos</a></li>-->
                </ul>
                <!--<button type="button" class="btn btn-info">Log Out</button>-->

              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" id="bg-imagen1">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Portal Magnus</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Soporte Magnus{{ home_homepage.introduction }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Ventas</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- About Us Area Start -->
    <section class="roberto-about-us-area section-padding-100-100" align="center" id="ventas">
      <h4 align="center">Ventas</h4>
        <div class="container" align="center">
            <div class="row align-items-center" align="center">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Contado</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Subsidio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Crédito Hipotecario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact" aria-selected="false">Mixto</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta optio vel tempora, officia culpa repellendus aperiam laborum maxime minus nesciunt minima natus, nisi ea autem pariatur perspiciatis doloribus. Rem.</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet commodi praesentium aspernatur quam tempora possimus unde dolores nam, voluptas minus, explicabo nobis labore cumque maiores minima porro, dolore et!</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui delectus rerum deleniti? Qui quibusdam hic temporibus sit, non labore, deserunt corporis, possimus commodi aspernatur facilis, ut modi deleniti ipsam error.</div>
                <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact2-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui delectus rerum deleniti? Qui quibusdam hic temporibus sit, non labore, deserunt corporis, possimus commodi aspernatur facilis, ut modi deleniti ipsam error.</div>
              </div>


            </div>
        </div>
    </section>


    <!-- About Us Area Start -->
    <section class="roberto-about-us-area section-padding-100-100" align="center" id="arriendos">
      <h4 align="center">Arriendos</h4>
        <div class="container" align="center">
            <div class="row align-items-center" align="center">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Documentos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Subsidios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contrato de Arriendo</a>
                </li>

              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta optio vel tempora, officia culpa repellendus aperiam laborum maxime minus nesciunt minima natus, nisi ea autem pariatur perspiciatis doloribus. Rem.</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet commodi praesentium aspernatur quam tempora possimus unde dolores nam, voluptas minus, explicabo nobis labore cumque maiores minima porro, dolore et!</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui delectus rerum deleniti? Qui quibusdam hic temporibus sit, non labore, deserunt corporis, possimus commodi aspernatur facilis, ut modi deleniti ipsam error.</div>

              </div>

            </div>
        </div>
    </section>

    <!-- About Us Area Start -->
    <section class="roberto-about-us-area section-padding-100-100" align="center" id="informaciones">
      <h4 align="center">Información subsidios</h4>
        <div class="container" align="center">
            <div class="row align-items-center" align="center">
              <!--tab information-->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DS1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">DS19</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">DS49</a>
                </li>

              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta optio vel tempora, officia culpa repellendus aperiam laborum maxime minus nesciunt minima natus, nisi ea autem pariatur perspiciatis doloribus. Rem.</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet commodi praesentium aspernatur quam tempora possimus unde dolores nam, voluptas minus, explicabo nobis labore cumque maiores minima porro, dolore et!</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui delectus rerum deleniti? Qui quibusdam hic temporibus sit, non labore, deserunt corporis, possimus commodi aspernatur facilis, ut modi deleniti ipsam error.</div>

              </div>
              <!--end tab information-->
              <p><br><h5 align="center">Tabla comparativa</h5></p>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>

            </div>
        </div>
    </section>






    <!-- About Us Area End -->

    <!-- Call To Action Area Start -->
    <!--<section class="roberto-cta-area">
        <div class="container">
            <div class="cta-content bg-img bg-overlay jarallax" style="background-image: url(/img/bg-img/1.jpg);">
                <div class="row align-items-center">
                    <div class="col-12 col-md-7">
                        <div class="cta-text mb-50">
                            <h2>Contáctanos!</h2>
                            <h6>Teléfono (+12) 345-678-9999</h6>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 text-right">
                        <a href="#" class="btn roberto-btn mb-50">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Call To Action Area End -->


    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row align-items-baseline justify-content-between">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80" align="center">
                            <!-- Footer Logo -->
                            <a href="#" class="footer-logo"><img src="{% static 'img/core-img/logohd_blanco.png' %}" alt=""></a>

                            <h4>+56 9 59217038</h4>
                            <span>makarena.munoz.g@gmail.com</span>
                            <span>General Aldunate 1148B</span>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Our Blog</h5>

                            <!--Single Blog Area -->
                            <div class="latest-blog-area">
                                <a href="#" class="post-title">Freelance Design Tricks How</a>
                                <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>
                            </div>

                            <!-- Single Blog Area -->
                            <!--<div class="latest-blog-area">
                                <a href="#" class="post-title">Free Advertising For Your Online</a>
                                <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>
                            </div>-->
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Links</h5>

                            <!-- Footer Nav -->
                            <ul class="footer-nav">
                                <li><a href="http://subsidioschile.com" target="_blank"><i class="fa fa-caret-right" aria-hidden="true"></i> Info Subsidios</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Otro</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="container">
            <div class="copywrite-content">
                <div class="row align-items-center">
                    <div class="col-12 col-md-8">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                </div>
            </div>
        </div>

    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
     <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/roberto.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>



</body>

</html>





              <!-- start cards
              <div class="accordion" id="accordionExample">

                <br>
                <div class="card" align="center">

                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link decotext" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4>Contado</h4>
                      </button>
                    </h2>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body" align="left">
                      <p>* Entes involucrados:</p>
                      <p>* Documentos Necesarios para la venta: </p>
                      <p>* Flujo del servicio: </p>
                      <p>* Tiempo estimado optimista y pesimista: </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed decotext" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h4>Subsidio</h4>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body" align="left">
                      <p>Entes involucrados</p>
                      <p>Documentos Necesarios para la venta:</p>
                      <p>Flujo del servicio:</p>
                      <p>Tiempo estimado optimista y pesimista</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed decotext" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4>Crédito Hipotecario</h4>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body" align="left">
                      <p>Entes involucrados</p>
                      <p>Documentos Necesarios para la venta:</p>
                      <p>Flujo del servicio:</p>
                      <p>Tiempo estimado optimista y pesimista</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed decotext" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h4>Ventas Mixtas</h4>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body" align="left">
                      <p>Entes involucrados</p>
                      <p>Documentos Necesarios para la venta:</p>
                      <p>Flujo del servicio:</p>
                      <p>Tiempo estimado optimista y pesimista</p>
                    </div>
                  </div>
                </div>
              </div>
               end cards -->
